<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div align="center"><strong>Carssier</strong>-системы автоматизации автосервиса</div>

        <div style="font-size: 70%; width: 100%;">
            <div align="center" style="width: 100; font-weight: bold;">Z-отчет #{number} {date}</div>    
            <table width="100%" cellpadding="2" cellspacing="0">
                <tr>
                    <td>Продаж</td>
                    <td align="right">{salesCount}</td>
                </tr>

                <tr>
                    <td>Внесений</td>
                    <td align="right">{moneyInCount}</td>
                </tr>

                <tr>
                    <td>Выплат</td>
                    <td align="right">{moneyOutCount}</td>
                </tr>

                <tr>
                    <td>Возвратов</td>
                    <td align="right">{returnCount}</td>
                </tr>

                <tr>                    
                    <td>Сторно</td>
                    <td align="right">{stornoCount}</td>
                </tr>

                <tr>
                    <td>Аннулировано</td>
                    <td align="right">{cancelCount}</td>
                </tr>

                <tr>
                    <td>Выплат</td>
                    <td align="right">{moneyOut}</td>
                </tr>

                <tr>
                    <td>Внесений</td>
                    <td align="right">{moneyIn}</td>
                </tr>

                <tr>
                    <td>Наличные</td>
                    <td align="right">{cash}</td>
                </tr>

                <tr>
                    <td>Продаж</td>
                    <td align="right">{sales}</td>
                </tr>

                <tr>
                    <td>Наличных итого</td>
                    <td align="right">{totalCash}</td>
                </tr>

                <tr>
                    <td>Сумма продаж итого</td>
                    <td align="right">{totalSales}</td>
                </tr>
            </table>
        </div>
    </body>
</html>