<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE nbsp [<!ENTITY nbsp "&#160;">]> 
<html>
<body>
<div style="text-align:right; font-family:Arial, Helvetica, sans-serif; font-size:8pt;">Унифицированная форма № ТОРГ-12<br />утверждена постановлением Госкомстата России от 25.12.1998 г. за № 132</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td width="15%" rowspan="2" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:6pt; border-style:solid; border-width:1pt; padding-top:4pt;">Код</td>
      </tr>
      <tr>
        <td align="right" style="font-family:Arial, Helvetica, sans-serif; font-size:6pt; padding:2pt;">Форма&nbsp;по&nbsp;ОКУД</td>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:6pt; border-style:solid; border-width:1pt; border-top-width:0pt; padding:2pt; padding-top:4pt;">0330212</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
      </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>

